*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container {
    width: 970px;
    height: 500px;
    background-color: #245076;
    margin: 0 auto; /*centramos el contenido*/
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

header > img {
    width: 375px;
}

#header-right {
    width: 250px;
}

header a {
    color: yellow;
}

#search {
    background-color: gray;
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 5px;
}

form > input {
    width: 120px;
    text-align: center;
    padding: 10px;
}

form > button {
    background-color: #245076;
    text-align: center;
    padding: 6px 8px;
    border-radius: 5px;
}

nav {
    width: 800px;
    background-color: #427cad;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}

nav > ul {
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    padding: 10px 20px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

.row {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.side-nav {
    display: inline-block;
    text-align: center;
    width: 250px;
    list-style: none;
    vertical-align: top;
}

.yellow {
    color: yellow;
    font-size: 10px;
}

.side-nav li {
    margin-bottom: 10px;
}

.side-nav li a {
    color: white;
}

main {
    width: 500px;
    display: inline-block;
    text-align: center
}

h3{
    margin-top: 10px;
    color: yellow;
    font-style: italic;
}

main > h3:last-child{
    color: white;
    font-style: normal;
}

#middle-content {
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    color: black;
    text-align: center;
    margin-top: 10px;
}

#middle-content > div {
    width: 400px;
    border-top: 4px solid #427cad;
    /*height: 200px; */
}

/*#middle-content > div> h5*/
#middle-content h5 {
    font-size: 20px;
    margin-top: 10px;
}

#middle-content p {
    margin: 15px 0;
}

#middle-content ul {
    color: #427cad;
    list-style: square;
    margin-bottom: 10px;
    padding-left: 20px;
}

#middle-content span {
    color: #427cad;
}

#bottom-content {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#25537b+0,4fa4ea+100 */
    background: #25537b; /* Old browsers */
    background: -moz-linear-gradient(top,  #25537b 0%, #4fa4ea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #25537b 0%,#4fa4ea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #25537b 0%,#4fa4ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25537b', endColorstr='#4fa4ea',GradientType=0 ); /* IE6-9 */
    padding-top: 50px;
    padding-bottom: 10px;
}

#bottom-content ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 15px;
    color: #1d5584;
    /* margin-top: 50px; no funcionó */
}

#bottom-content p {
    font-size: 10px;
    text-align: center;
    color: #1d5584;
    margin-top: 20px;
    /*margin: valor -> TODOS*/
    /*margin: arriba_abajo izq_der*/
    /*margin: arriba der abajo izq*/
}