*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container {
    width: 970px;
    height: 500px;
    background-color: #245076;
    margin: 0 auto; /*centramos el contenido*/
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

header > img {
    width: 375px;
}

#header-right {
    width: 250px;
}

header a {
    color: yellow;
}

#search {
    background-color: gray;
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 5px;
}

form > input {
    width: 120px;
    text-align: center;
    padding: 10px;
}

form > button {
    background-color: #245076;
    text-align: center;
    padding: 6px 8px;
    border-radius: 5px;
}

nav {
    width: 800px;
    background-color: #427cad;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}

nav > ul {
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    padding: 10px 20px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

.row {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.side-nav {
    display: inline-block;
    text-align: center;
    width: 250px;
    list-style: none;
}

.yellow {
    color: yellow;
    font-size: 10px;
}

.side-nav li {
    margin-bottom: 10px;
}

.side-nav li a {
    color: white;
}

main {
    width: 500px;
    display: inline-block;
    text-align: center
}